
        <form action="/action_page.php">
        <H1>Acuerdo de Licencia </H1>
        <p> Toda la información que se presenta en esta pagina es responsabilidad exclusiva del desarrollador , bajo
        acuerdo
        de licencia estipulado ,"En la norma penal ecuatoriana está el derecho a la intimidad personal y familiar. Quien
        lo
        viole puede ser sancionado
        con prisión de uno a tres años, refiere el art. 178 del Código Orgánico Integral Penal (COIP)."</p>

        <strong>Auspiciado por : Instituto Superior Tecnologico del Azuay </strong>
    </form>

<br>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top "
            src="https://scontent.fcue3-1.fna.fbcdn.net/v/t1.0-9/118615431_161164268949392_1835513899741728444_o.jpg?_nc_cat=102&_nc_sid=174925&_nc_ohc=0lZYQnNdQqIAX_t8KHp&_nc_ht=scontent.fcue3-1.fna&oh=567bbf6f44774ca72f9f2be13e6754fa&oe=5F9E0E33">
        <div class="card-body">
        <a class="btn btn-outline-danger btn-black">Regresar a Inicio</a>
        </div>
    </div> 
          
    <div class="col-md-8">
        <br>
        <strong>Información Basica y de contacto con el equipo del desarrollo</strong><br>
        <strong>Nombres:  </strong><p> Christian Eduardo Caguana Merchan.</p>
        <strong>Nro celular:  </strong>
        <p>0988279774</p>
        <strong>Correo electronico: </strong>
        <p>Christiancaguana123@gmail.com</p>
        <strong>Experiencia de laboral: </strong>
        <p>Colaborador en desarrolo de proyectos FronEnd,Analista de sistemas,Desarrollador de Software ,Teaster,development team.</p>
        <strong>Lenguajes de programación: </strong>
        <p>Ionic con Angular y React , Angular y Spring , Android Studio con leguaje de programacón java.</p>
    </div>
</div>
<br>
<br>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top "
            src="https://scontent.fcue3-1.fna.fbcdn.net/v/t1.0-9/84982644_2835037136576776_8618493642027302912_n.jpg?_nc_cat=107&_nc_sid=174925&_nc_ohc=OKRuCBUPdGgAX-Bsvqq&_nc_ht=scontent.fcue3-1.fna&oh=d6975b80946b41e8d1cda4d4e40a90f5&oe=5F9FBB52">
        <div class="card-body">
            <a class="btn btn-outline-danger btn-black">Regresar a Inicio</a>
        </div>
    </div>
    <div class="col-md-8">
        <br>
        <strong>Nombres: </strong>
        <p> Wilson Geovanny Arévalo Monge.</p>
        <strong>Nro celular: </strong>
        <p>0985065728</p>
        <strong>Correo electronico: </strong>
        <p>ArevaloGeonanni-lml@hotmail.es</p>
        <strong>Experiencia de laboral: </strong>
        <p>Colaborador en desarrolo de proyectos BackEnd,Buenas practicas,Desarrollador de Software ,development team.</p>
        <strong>Lenguajes de programación: </strong>
        <p>Ionic con Angular y React , Angular y Spring , Android Studio con leguaje de programacón Java y Kotlin.</p>
    </div>

</div>
<br>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top "
            src="https://scontent.fcue3-1.fna.fbcdn.net/v/t1.0-9/118474267_2691880581053177_1161031711995442971_o.jpg?_nc_cat=102&_nc_sid=09cbfe&_nc_ohc=qu0dB3WLbEsAX-53PT4&_nc_ht=scontent.fcue3-1.fna&oh=5a6b7b22744ba4bab3a9566972de4981&oe=5F9FC58C">
        <div class="card-body">
            <a class="btn btn-outline-danger btn-black">Regresar a Inicio</a>
        </div>
    </div>
    <div class="col-md-8">
        <br>
        <strong>Nombres:  </strong><p>Bryam Paul Romero Quezada.</p>
        <strong>Nro celular:  </strong>
        <p>0988531732</p>
        <strong>Correo electronico: </strong>
        <p>donalk100@gmail.com , mivision3.0@gmail.com.</p>
        <strong>Experiencia de laboral: </strong>
        <p>Colaborador en desarrolo de proyectos,BackEnd,ScrumMaster, FronEnd,Analista de sistemas,Desarrollador de Software ,Teaster.</p>
        <strong>Lenguajes de programación: </strong>
        <p>Ionic con Angular y React , Angular y Spring , Android Studio con leguaje de programacón Java ,Kotlin , Python.</p>
    </div>
</div>

