<br>
<div class="padre">
    <div>
        <h1>Crear Cuenta</h1>
        <h4>ingresa tu nombre de usuario y contraseña para completar el proceso de registro.</h4>
    </div>
    <form action="/action_page.php">
        <div [hidden]="submitted" style="width: 400px;">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Nombre de usuario</label>
                    <input type="text" class="form-control" id="nombreUsuario" required
                        [(ngModel)]="usuario.nombreUsuario" name="nombreUsuario" placeholder=" Nombre de usuario..">
                </div>

                <div class="form-group">
                    <label for="name">Contraseña</label>
                    <input type="password" class="form-control" id="contrasenia" required [(ngModel)]="usuario.contrasenia"
                        name="contrasenia" placeholder=" Contraseña..">
                </div>
             
                <button type="return" class="btn btn-outline-danger">Regresar</button>
                <button type="submit" class="btn btn-outline-success">Continuar</button>

            </form>
        </div>

        <div [hidden]="!submitted">
            <div class="alert alert-success">
                <strong>Informacion Registrada exitosamente!</strong>
            </div>
            <!-- <h4>You submitted successfully!</h4> -->
            <button class="btn btn-outline-success" (click)="newUsuario()">Add</button>
        </div>
    </form>
</div>
<br>