<br>
<div class="container">
<div class="row">
    
    <div class="col-sm-2">

        <TABLE border="0" cellpadding="0" cellspacing="0">
            <TR>
                <button type="button" class="btn btn-outline-primary btn-block">Menu</button>
                <button type="button" routerLink="CrearM"class="btn btn-outline-primary btn-block">Crear Publicacion</button>
                <TD bgcolor="#000000" width="1"></TD>
                <TD width="5"></TD>
                <TD width="*"><BR><BR></TD>
                   
            </TR>
        </TABLE>
    </div>
    <!-- seccion de menu  -->
    <div class="col-sm-6">
        <div class="container">
            <!-- inicio de declaracion del scroll debemos implementar los estilos necesarios para todas las etiquetas  -->
            <div class="ex1">
                <br>
                <!-- inicio de row animated fade in -->
                <h1 class="animated fadeIn"></h1>
                <br>
                <div class="row animated fadeIn fast">
                    <!-- primer card para mostrar en menu , !! se puede implementar la estructura anterior utilizada en publicaciones -->
                    <div class="col-md-10">
                        <img src="https://i.pinimg.com/originals/f6/80/8d/f6808d003a62c84a3106dec0f7df2c38.jpg" class="img-fluid"
                            alt="">
                        <br>
                        <br>
                        <a routerLink="" class="btn btn-outline-danger  btn-block">Comentar</a>
                        <a routerLink="" class="btn btn-outline-primary btn-block">Notificar encuentro</a>
                        <a routerLink="" class="btn btn-outline-success btn-block">Compartir</a>
                        <!-- contenedor de texto tipos y etiquetas con sus respectivos estilos -->
                        <div class="col-md-6">
                            <!-- Añadimos la siguiente etiqueta para asignar el titulo -->
                            <h3>Nombre: Pluto</h3>
                            <small style="color:red">
                                <h4>Descripcion :</h4>
                            </small>
                            <small style="color: cadetblue;">
                                <h5>se perdio en el sector del valle gualalcay llevaba un collar azul con su nombre.si lo encuentran
                                    por favor te
                                    recompensaremos.</h5>
                            </small>
                            <br>
                        </div>
                    </div>
                    <!-- segundo card view-->
                    <div class="col-md-10">
                        <img src="https://s3.amazonaws.com/rtvc-assets-canalinstitucional.tv/s3fs-public/images/tucson_prime_0.jpg" class="img-fluid" alt="">
                        <br>
                        <br>
                        <a routerLink="" class="btn btn-outline-danger  btn-block">Comentar</a>
                        <a routerLink="" class="btn btn-outline-primary btn-block">Notificar encuentro</a>
                        <a routerLink="" class="btn btn-outline-success btn-block">Compartir</a>
                        <div class="col-md-6">
                            <h3>Nombre: Pluto</h3>
                            <small style="color:red">
                                <h4>Descripcion :</h4>
                            </small>
                            <small style="color: cadetblue;">
                                <h5>se perdio en el sector del valle gualalcay llevaba un collar azul con su nombre.si lo encuentran
                                    por favor te
                                    recompensaremos.</h5>
                            </small>
                            <br>
                        </div>
                    </div>

                    <!-- segundo card view-->
                    <div class="col-md-10">
                        <img src="https://static.maskokotas.com/blog/wp-content/uploads/2019/11/perro-come-suelo.jpg" class="img-fluid" alt="">
                        <br>
                        <br>
                        <a routerLink="" class="btn btn-outline-danger  btn-block">Comentar</a>
                        <a routerLink="" class="btn btn-outline-primary btn-block">Notificar encuentro</a>
                        <a routerLink="" class="btn btn-outline-success btn-block">Compartir</a>
                        <div class="col-md-6">
                            <h3>Nombre: Pluto</h3>
                            <small style="color:red">
                                <h4>Descripcion :</h4>
                            </small>
                            <small style="color: cadetblue;">
                                <h5>se perdio en el sector del valle gualalcay llevaba un collar azul con su nombre.si lo encuentran
                                    por favor te
                                    recompensaremos.</h5>
                            </small>
                            <br>
                        </div>
                    </div>

                    <!-- segundo card view-->
                    <div class="col-md-10">
                        <img src="https://depor.com/resizer/SVv5dNM9FrG5vl6fGyAWD3aE5go=/980x0/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/GB7SYBVYJZHEDPHRMHPH5ZITP4.jpg" class="img-fluid" alt="">
                        <br>
                        <br>
                        <a routerLink="" class="btn btn-outline-danger  btn-block">Comentar</a>
                        <a routerLink="" class="btn btn-outline-primary btn-block">Notificar encuentro</a>
                        <a routerLink="" class="btn btn-outline-success btn-block">Compartir</a>
                        <div class="col-md-8">
                            <h3>Nombre: Pluto</h3>
                            <small style="color:red">
                                <h4>Descripcion :</h4>
                            </small>
                            <small style="color: cadetblue;">
                                <h5>se perdio en el sector del valle gualalcay llevaba un collar azul con su nombre.si lo encuentran
                                    por favor te
                                    recompensaremos.</h5>
                            </small>
                            <br>
                        </div>
                    </div>
                    <!-- fin de row animated fadeIn -->
                </div>
            </div>
        </div>

</div>
    <!-- Seccion de cerrar sesion de opciones -->
    <div class="col-sm-3">
        <div class="container">
<a class="btn btn-outline-danger btn-block" routerLink="Logout" routerLinkActive="active">Cerrar Session</a>

        </div>
    </div>
</div>
</div>
<br>